@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-theme-white: #F7F7F7;
  --color-theme-cream: #EEEEEE;
  --color-theme-gray: #929AAB;
  --color-theme-black: #393E46;
}

:root {
  background-color: var(--color-theme-cream);
  color: var(--color-theme-black);
  font-family: "Inter", sans-serif;
  border-color: var(--border-theme-gray);
}